<!-- sidenav.component.html -->

<!-- Navbar -->
<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-2 col-lg-3 sidebar">
        <div class="logo-container">
        <a class="logofont navbar-brand"><img id="logo" src="assets/LOGO_ICTAK-Name.jpg" alt=""></a>
    </div>
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home"><i class="bi bi-house"></i> Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-lock"></i> Admin Panel</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/adduser"><i class="bi bi-person-plus"></i> Add User</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" routerLink="/viewuser"><i class="bi bi-person-badge"></i> View Users</a></li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-people-fill"></i> Student Panel</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/addstuds"><i class="bi bi-person-plus"></i> Add Student</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" routerLink="/viewstuds"><i class="bi bi-person-badge"></i> View Students</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" routerLink="/csv" ><i class="bi bi-file-earmark-arrow-up-fill"></i> CSV Upload</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <!-- change password page not set waiting for approval-->
            <a class="nav-link" routerLink="/passchange"><i class="bi bi-gear"></i> Change Password</a>
            </li>
        </ul>
       
        </div>
    </div>

  
